on:
  workflow_dispatch:

jobs:

  run:
    strategy:
      matrix:
        runner: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5      # v4.3.1
      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9  # v4.3.1
        with:
          dotnet-version: 10.x.x

      - run: dotnet tool install -g ghx

      - if: ${{ matrix.runner != 'windows-latest' }}
        run: |
          ghx run --wsl sample
          ghx run --wsl workflow-template

      - if: ${{ matrix.runner == 'windows-latest' }}
        shell: cmd
        run: |
          ghx run --cmd sample
          ghx run --cmd workflow-template
