on:
  workflow_dispatch:

jobs:

  run:
    strategy:
      matrix:
        runner: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5      # v4.3.1
      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9  # v4.3.1
        with:
          dotnet-version: 10.x.x

      - name: ReadyToRun test
        run: |
          dotnet tool install -g GitHubWorkflow

          ghx run sample
          ghx run workflow-template
