on:
  workflow_call:
    inputs:
      message:
        type: string
        default: hello, world.
      count:
        type: number
        default: 10
      enable:
        type: boolean
        default: false
      error_if_no_default:  # BUT error occurs only when value is referenced in 'run' step
        type: string


jobs:

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        foo: ["has space", no-space]
        bar: ["", not-empty]

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5      # v4.3.1
    - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9  # v4.3.1
      with:
        dotnet-version: 10.x.x

    - run: |
        echo first 'run' step: foo='${{matrix.foo}}' bar='${{matrix.bar}}'

    - name: 2nd Step
      # ERROR: shell not supported even if bash
      # shell: bash
      run: |
        # ERROR: no default value
        # echo ${{inputs.error_if_no_default}}

        # multiline format handling
        echo ${{inputs.message      }} \
          line end back slash is \
          replaced with caret if --cmd option supplied

        pwd
        echo $0  # positional parameter conversion supported

        sleep 1  # will be converted to TIMEOUT for windows

  second_job:
    strategy:
      matrix:
        # empty matrix is allowed
    runs-on: ubuntu-latest
    steps:
    - run: echo hello from 2nd job  # line end comment removal; don't check it's quoted by "double quote" or 'single quote'
